# Configuración de conexión a la base de datos
DATABASE_URL=postgresql://postgres:password@db.supabase.co:5432/postgres

# Configuración de ML y predicciones
DIAS_A_PREDECIR=7

# Configuración de scheduling 
RUN_SCHEDULE=02:00
RUN_ONCE=false
